@using Microsoft.AspNetCore.Components;
@using System.Security.Claims;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Components.Authorization;
@using Services;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavManager
@inject Services.AppData AppData;

@using System.Text.Json;
@inject NavigationManager NavManager

<div class="back">
    <div class="container">
        <div class="box">
            Nom:
            <input class="name" type="text" placeholder="Nom" @bind="AppData.Username" />

            Mot de passe:
            <input class="pass" type="password" placeholder="Mot de passe" @bind="@password" />

            <button class="btn btn-primary" @onclick="TryLogin">Se connecter</button>
            <span class="text-danger">@loginErrorMessage</span>

        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        AppData.OnChange += StateHasChanged;
    }


    private class Utilisateur
    {
        public string Nom { get; set; }
        public string Mdp { get; set; }
    }


    private List<Utilisateur> Utilisateurs = new List<Utilisateur>()
{
        new Utilisateur { Nom = "Jocelyn", Mdp = "aze122" },
        new Utilisateur { Nom = "Thibault", Mdp = "brt?" }
    };

    string password = "";
    string loginErrorMessage = "";

    public async void TryLogin()
    {
        Utilisateur result = Utilisateurs.Find(x => x.Nom == AppData.Username);
        if (result == null)
            loginErrorMessage = "Je ne vous connais pas";
        else
            if (result.Mdp == password)
        {
           AppData.CanLogin = true;
            await localStorage.SetItemAsync<string>("username", result.Nom);
            await AuthProvider.GetAuthenticationStateAsync();
            NavManager.NavigateTo("Pieces", false);
        }
        else
            loginErrorMessage = "Mot de passe incorrect ";

    }

}
